<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pick-O-Meal</title>
</head>
<body>
    <form action="/generateMeal" method="get">
        <h1>Pick-O-Meal</h1>
        <h2>Tired of deciding what to cook</h2>
        <h3>Let us choose for you</h3>
        <input type="submit" value="Generate Meal">
    </form>
</body>
</html>