.box{
    margin-top: 10rem;
    background-color:cornsilk ;
    border-radius:.25em;
    box-shadow:0 0 1em rgba(0,0,0,.25);
}

/* Custom width for the dropdown */
.custom-select {
  width: 200px !important; 
}

/* Animated Background */
html {
    height:100%;
  }
  
  body {
    margin:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #C0EBA6 50%, #FCCD2A 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  

  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }